<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppPDI"
        android:roundIcon="@mipmap/ic_launcher_round" >

        <activity
            android:exported="true"
            android:name="com.example.apppdi.ui.activities.ActivityHome" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="apppdi"/>
            </intent-filter>

        </activity>

        <activity
            android:allowBackup="false"
            android:name="com.example.apppdi.ui.activities.ActivityListHandler"/>

        <activity
            android:allowBackup="false"
            android:name="com.example.apppdi.ui.activities.ActivityDetailsRepo"/>
    </application>

</manifest>